.DS_Store
postgres_db_1
env/
*csv
.env
out.json
*db
__pycache__
.ipynb_checkpoints
*sqlite
*.sqlite-journal
out*
OldData/
*out
postgres_db_1
postgres2.yml
DiscordScraping*
logs*
2023-*
S3*
tmp*
Untitled*
containers/neo4j_db_1/
*sqlite3